.background {
  @include backImage ("../images/background--dark.jpg");
  margin-left: -15px;
  margin-right: -15px;
}

.characters {
  font-family: $mainFont;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 200;
  display: block;
  @media screen and (max-width:767px) {
    margin-left: 0;
    margin-right: 0;
  }

  &--margin {
    margin-bottom: -30px;
  }

  &--bottom {
    padding-bottom: 10px;
  }

  &__tormund {
    @include backImage ("../images/tormund.jpg", 300px, top left);
    margin-left: -15px;
    margin-right: -15px;
    @include transition(height 3s ease);
    @media screen and (max-width:550px) {
      height: 230px;
    }

    &:hover {
      @include backImage ("../images/tormund.jpg", 300px, top left, rgba(0,0,0,.4));
      margin-left: -15px;
      margin-right: -15px;
      @media screen and (max-width:550px) {
        height: 230px;
      }
    }
  }

  &__yrgitte {
    @include backImage ("../images/yrgitte.jpg", 300px, top left);
    margin-left: -15px;
    margin-right: -15px;
    z-index: 1;
    @include transition(height 3s ease);
    @media screen and (max-width:550px) {
      height: 230px;
    }

    &:hover {
      @include backImage ("../images/yrgitte.jpg", 300px, top left, rgba(0,0,0,.4));
      margin-left: -15px;
      margin-right: -15px;
      z-index: 1;
      @media screen and (max-width:550px) {
        height: 230px;
      }
    }
  }

  &__john {
    @include backImage ("../images/john-snow.jpg", 300px, top left);
    margin-left: -15px;
    margin-right: -15px;
    @media screen and (max-width:550px) {
      height: 230px;
    }

    &:hover {
      @include backImage ("../images/john-snow.jpg", 300px, top left, rgba(0,0,0,.4));
      margin-left: -15px;
      margin-right: -15px;
      @media screen and (max-width:550px) {
        height: 230px;
      }
    }
  }

  &__sansa {
    @include backImage ("../images/sansa-stark.jpg", 300px, top left);
    margin-left: -15px;
    margin-right: -15px;
    @media screen and (max-width:550px) {
      height: 230px;
    }

    &:hover {
      @include backImage ("../images/sansa-stark.jpg", 300px, top left, rgba(0,0,0,.4));
      margin-left: -15px;
      margin-right: -15px;
      @media screen and (max-width:550px) {
        height: 230px;
      }
    }
  }

  &__arya {
    @include backImage ("../images/arya.jpg", 300px, top left);
    margin-left: -15px;
    margin-right: -15px;
    @media screen and (max-width:550px) {
      height: 230px;

    }

    &:hover {
      @include backImage ("../images/arya.jpg", 300px, top left, rgba(0,0,0,.4));
      margin-left: -15px;
      margin-right: -15px;
      @media screen and (max-width:550px) {
        height: 230px;

      }
    }
  }

  &__tyrion {
    @include backImage ("../images/tyrion.jpg", 300px, top left);
    margin-left: -15px;
    margin-right: -15px;
    @include transition(height 2s ease);
    @media screen and (max-width:550px) {
      height: 230px;
    }

    &:hover {
      @include backImage ("../images/tyrion.jpg", 300px, top left, rgba(0,0,0,.4));
      margin-left: -15px;
      margin-right: -15px;
      @media screen and (max-width:550px) {
        height: 230px;
      }
    }
  }

  &__cercei {
    @include backImage ("../images/cercei.jpg", 300px, top left);
    margin-left: -15px;
    margin-right: -15px;
    @media screen and (max-width:550px) {
      height: 230px;
    }

    &:hover {
      @include backImage ("../images/cercei.jpg", 300px, top left, rgba(0,0,0,.4));
      margin-left: -15px;
      margin-right: -15px;
      @media screen and (max-width:550px) {
        height: 230px;
      }
    }
  }

  &__jamie {
    @include backImage ("../images/jamie.jpg", 300px, top left);
    margin-left: -15px;
    margin-right: -15px;
    @media screen and (max-width:550px) {
      height: 230px;
    }

    &:hover {
      @include backImage ("../images/jamie.jpg", 300px, top left, rgba(0,0,0,.4));
      margin-left: -15px;
      margin-right: -15px;
      @media screen and (max-width:550px) {
        height: 230px;
      }
    }
  }

  &__daeneyrs {
    @include backImage ("../images/daenerys.jpg", 300px, top left);
    margin-left: -15px;
    margin-right: -15px;
    @media screen and (max-width:550px) {
      height: 230px;
    }

    &:hover {
      @include backImage ("../images/daenerys.jpg", 300px, top left, rgba(0,0,0,.4));
      margin-left: -15px;
      margin-right: -15px;
      @media screen and (max-width:550px) {
        height: 230px;
      }
    }
  }

  &__khal {
    @include backImage ("../images/khaldrogo.jpg", 300px, top left);
    margin-left: -15px;
    margin-right: -15px;
    @media screen and (max-width:550px) {
      height: 230px;
    }

    &:hover {
      @include backImage ("../images/khaldrogo.jpg", 300px, top left, rgba(0,0,0,.4));
      margin-left: -15px;
      margin-right: -15px;
      @media screen and (max-width:550px) {
        height: 230px;
      }
    }
  }

  &__symbol {
    width: 28%;
    float: right;
    margin-right: 15px;
    margin-top: 15px;
    opacity: 0.9;
    @media screen and (max-width:430px) {
      width: 35%;
    }
  }
}

h2.characterName {
  padding-top: 230px;
  padding-left: 15px;
  color: white;
  font-family: $subFont;
  font-size: 38px;
  letter-spacing: 1px;
  margin-bottom: -20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  display: block;
  @media screen and (max-width:550px) {
    padding-top: 165px;
    font-size: 24px;
  }

  &--small {
    font-size: 24px;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
  }
}

.characterInfo {
  padding: 0 20px 20px;
  background-color: $darkBlue;
  margin-top: 10px;
  border-top: 5px solid $lightBlue;
  margin-left: -15px;
  margin-right: -15px;

  &--red {
    border-top: 5px solid $red;
    background-color: $lannister;
  }

  &--grey {
    border-top: 5px solid $darkGrey;
    background-color: $targaryen;
  }
}

.characterText {
  color: white;
  font-family: $subFont;
  font-weight: 300;
  letter-spacing: 0.8px;
  line-height: 18px;

  &--color {
    color: $wildlings;
    text-transform: uppercase;
    font-weight: 400;
  }
}

h3.characterHouse {
  text-transform: uppercase;
  padding-left: 18px;
  color: $lightBlue;
  font-size: 18px;
  display: inline-block;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  margin-bottom: -20px;

  &--red {
    color: $red;
  }

  &--grey {
    color: $lightGrey;
  }
}

#bottomHidden {
  position: fixed;
  bottom: 0;
  padding: 10px 10px 15px;
  background-color: $black;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

//Accordion stylesheet
/* Style the buttons that are used to open and close the accordion panel */
