.intro {
  @include backImage ("../images/background.jpg", 100vh, top center);
  margin-left:-15px;
  margin-right: -15px;

  &__logo {
    width: 40%;
    display:block;
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 90px;
    @media screen and (max-width:991px) {
      width: 60%;
    }
    @media screen and (max-width:560px) {
      width: 80%;
      margin-top: 100px;
    }
  }
}

.form {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
  margin-bottom: 150px;
  display: block;
  margin: 0 auto;
  @media screen and (max-width:500px) {
    width: 80%;
  }

  &__title {
  font-size: 18px;
  color: white;
  text-align: center;
  font-family: $informationText;
  letter-spacing: 2px;
  margin-top: 8px;

  }

  &__usernameInput{
    font-size: 36px;
    letter-spacing: 2px;
    background-color: transparent;
    border:none;
    outline: none;
    color: white;
    text-align: center;
    font-family: $subFont;
  }

}
