.intro {
  @include backImage ("../images/background.jpg");
  

  &__logo {
    width: 40%;
    display:block;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 100px;
    @media screen and (max-width:991px) {
      width: 60%;
    }
    @media screen and (max-width:560px) {
      width: 80%;
    }
  }
}
