
@mixin backImage ($image, $height:100%, $bgPos:center center, $alphaOne:rgba(0,0,0,0)){
  background: linear-gradient(to bottom,
  $alphaOne,
  rgba(0,0,0,.8)),
  url($image);
  background-repeat: no-repeat;
  background-position: $bgPos;
  background-size: cover;
  height: $height;
  margin-left: -15px;
  margin-right: -15px;
  }

  @mixin gradient ($colorOne, $colorTwo, $angle:to right) {
  background-image: linear-gradient($angle, $colorOne, $colorTwo)
  }

  @mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
