//font @import
@import url("https://use.typekit.net/sqr2syn.css");

//colour variables
$black:#000000;
$lightBlue:#759AAC;
$darkBlue:#293940;
$lightOrange:#FFC837;
$darkOrange:#FF8008;
$lightGrey:#B5B5B5;
$darkGrey:#6E6E6E;

//colour of Houses
$wildlings:#8FA3AD;
$starks:#47636F;
$lannister:#622C18;
$targaryen:#37312D;

//font variables
$keplerBold: 'kepler-std-caption', serif;
$mainFont: $keplerBold;

$keplerReg: 'kepler-std', serif;
$subFont: $keplerReg;

$robotoCond:'roboto-condensed', sans-serif;
$informationText: $robotoCond;
