@import url("https://use.typekit.net/sqr2syn.css");
body {
  background-color: #000000;
  padding-bottom: 50px;
}

body.marginBottom {
  padding-bottom: 20px;
}

h1 {
  color: white;
  font-family: "kepler-std", serif;
  font-weight: 400;
}
h1.headers {
  font-size: 100px;
  line-height: 80px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}
@media screen and (max-width: 660px) {
  h1.headers {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 360px) {
  h1.headers {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 10px;
  }
}
h1.headers__character {
  font-size: 48px;
  line-height: 40px;
  margin-top: 10px;
}

a {
  text-decoration: none;
}

.btn {
  padding: 8px;
  color: white;
  border-radius: 60px;
  font-family: "kepler-std", serif;
}
.btn:hover {
  color: white;
}
.btn--big {
  width: 80%;
  height: auto;
  font-size: 35px;
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.8px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.6);
}
@media screen and (max-width: 660px) {
  .btn--big {
    font-size: 30px;
  }
}
.btn--second {
  background-image: linear-gradient(to right, #293940, #759AAC);
}
.btn--primary {
  background-image: linear-gradient(to right, #FF8008, #FFC837);
}
.btn--center {
  margin: 0 auto;
  display: block;
  margin-top: 60px;
}
.btn--bottom {
  margin: 0 auto;
  display: block;
  margin-top: 10px;
}
.btn--start {
  margin: 0 auto;
  display: block;
  margin-top: 60px;
  width: 280px;
}
.btn--small {
  display: inline;
  float: right;
  margin-top: -50px;
  font-size: 18px;
  width: 90px;
}
@media screen and (max-width: 360px) {
  .btn--small {
    margin-right: -30px;
  }
}
.btn__moreinfo {
  font-family: "roboto-condensed", sans-serif;
  width: 100%;
  color: white;
  margin-top: -25px;
  text-align: right;
  letter-spacing: 0.6px;
  padding-right: 20px;
}
.btn__moreinfo:active {
  color: white;
}
.btn__moreinfo:focus {
  color: white;
}

.ornament {
  width: 40%;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.margin {
  margin-left: -15px;
  margin-right: -15px;
}

.intro {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url("../images/background.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 100vh;
  margin-left: -15px;
  margin-right: -15px;
}
.intro__logo {
  width: 40%;
  display: block;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 90px;
}
@media screen and (max-width: 991px) {
  .intro__logo {
    width: 60%;
  }
}
@media screen and (max-width: 560px) {
  .intro__logo {
    width: 80%;
    margin-top: 100px;
  }
}

.form {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
  margin-bottom: 150px;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 500px) {
  .form {
    width: 80%;
  }
}
.form__title {
  font-size: 18px;
  color: white;
  text-align: center;
  font-family: "roboto-condensed", sans-serif;
  letter-spacing: 2px;
  margin-top: 8px;
}
.form__usernameInput {
  font-size: 36px;
  letter-spacing: 2px;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  text-align: center;
  font-family: "kepler-std", serif;
}

.background {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url("../images/background--dark.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  margin-left: -15px;
  margin-right: -15px;
}

.characters {
  font-family: "kepler-std-caption", serif;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 200;
  display: block;
}
@media screen and (max-width: 767px) {
  .characters {
    margin-left: 0;
    margin-right: 0;
  }
}
.characters--margin {
  margin-bottom: -30px;
  margin-left: -15px;
  margin-right: -15px;
}
.characters--bottom {
  padding-bottom: 10px;
}
.characters__tormund {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url("../images/tormund.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  height: 300px;
  -webkit-transition: height 3s ease;
  -moz-transition: height 3s ease;
  -ms-transition: height 3s ease;
  -o-transition: height 3s ease;
  transition: height 3s ease;
}
@media screen and (max-width: 550px) {
  .characters__tormund {
    height: 230px;
  }
}
.characters__tormund:hover {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url("../images/tormund.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  height: 300px;
}
@media screen and (max-width: 550px) {
  .characters__tormund:hover {
    height: 230px;
  }
}
.characters__yrgitte {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url("../images/yrgitte.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  height: 300px;
  -webkit-transition: height 3s ease;
  -moz-transition: height 3s ease;
  -ms-transition: height 3s ease;
  -o-transition: height 3s ease;
  transition: height 3s ease;
}
@media screen and (max-width: 550px) {
  .characters__yrgitte {
    height: 230px;
  }
}
.characters__yrgitte:hover {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url("../images/yrgitte.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  height: 300px;
}
@media screen and (max-width: 550px) {
  .characters__yrgitte:hover {
    height: 230px;
  }
}
.characters__john {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url("../images/john-snow.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  height: 300px;
}
@media screen and (max-width: 550px) {
  .characters__john {
    height: 230px;
  }
}
.characters__john:hover {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url("../images/john-snow.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  height: 300px;
}
@media screen and (max-width: 550px) {
  .characters__john:hover {
    height: 230px;
  }
}
.characters__sansa {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url("../images/sansa-stark.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  height: 300px;
}
@media screen and (max-width: 550px) {
  .characters__sansa {
    height: 230px;
  }
}
.characters__sansa:hover {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url("../images/sansa-stark.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  height: 300px;
}
@media screen and (max-width: 550px) {
  .characters__sansa:hover {
    height: 230px;
  }
}
.characters__arya {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url("../images/arya.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  height: 300px;
}
@media screen and (max-width: 550px) {
  .characters__arya {
    height: 230px;
  }
}
.characters__arya:hover {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url("../images/arya.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  height: 300px;
}
@media screen and (max-width: 550px) {
  .characters__arya:hover {
    height: 230px;
  }
}
.characters__tyrion {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url("../images/tyrion.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  height: 300px;
  -webkit-transition: height 2s ease;
  -moz-transition: height 2s ease;
  -ms-transition: height 2s ease;
  -o-transition: height 2s ease;
  transition: height 2s ease;
}
@media screen and (max-width: 550px) {
  .characters__tyrion {
    height: 230px;
  }
}
.characters__tyrion:hover {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url("../images/tyrion.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  height: 300px;
}
@media screen and (max-width: 550px) {
  .characters__tyrion:hover {
    height: 230px;
  }
}
.characters__cercei {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url("../images/cercei.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  height: 300px;
}
@media screen and (max-width: 550px) {
  .characters__cercei {
    height: 230px;
  }
}
.characters__cercei:hover {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url("../images/cercei.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  height: 300px;
}
@media screen and (max-width: 550px) {
  .characters__cercei:hover {
    height: 230px;
  }
}
.characters__jamie {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url("../images/jamie.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  height: 300px;
}
@media screen and (max-width: 550px) {
  .characters__jamie {
    height: 230px;
  }
}
.characters__jamie:hover {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url("../images/jamie.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  height: 300px;
}
@media screen and (max-width: 550px) {
  .characters__jamie:hover {
    height: 230px;
  }
}
.characters__daeneyrs {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url("../images/daenerys.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  height: 300px;
}
@media screen and (max-width: 550px) {
  .characters__daeneyrs {
    height: 230px;
  }
}
.characters__daeneyrs:hover {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url("../images/daenerys.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  height: 300px;
}
@media screen and (max-width: 550px) {
  .characters__daeneyrs:hover {
    height: 230px;
  }
}
.characters__khal {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url("../images/khaldrogo.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  height: 300px;
}
@media screen and (max-width: 550px) {
  .characters__khal {
    height: 230px;
  }
}
.characters__khal:hover {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url("../images/khaldrogo.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  height: 300px;
}
@media screen and (max-width: 550px) {
  .characters__khal:hover {
    height: 230px;
  }
}
.characters__symbol {
  width: 28%;
  float: right;
  margin-right: 15px;
  margin-top: 15px;
  opacity: 0.9;
}
@media screen and (max-width: 430px) {
  .characters__symbol {
    width: 35%;
  }
}

h2.characterName {
  padding-top: 230px;
  padding-left: 15px;
  color: white;
  font-family: "kepler-std", serif;
  font-size: 38px;
  letter-spacing: 1px;
  margin-bottom: -20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  display: block;
}
@media screen and (max-width: 550px) {
  h2.characterName {
    padding-top: 165px;
    font-size: 24px;
  }
}
h2.characterName--small {
  font-size: 24px;
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
}

.characterInfo {
  padding: 0 20px 20px;
  background-color: #293940;
  margin-top: 10px;
  border-top: 5px solid #759AAC;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
  z-index: -1;
}
.characterInfo--red {
  border-top: 5px solid #9E3811;
  background-color: #420704;
}
.characterInfo--grey {
  border-top: 5px solid #6E6E6E;
  background-color: #37312D;
}

.characterText {
  color: white;
  font-family: "kepler-std", serif;
  font-weight: 300;
  letter-spacing: 0.8px;
  line-height: 18px;
}
.characterText--color {
  color: #8FA3AD;
  text-transform: uppercase;
  font-weight: 400;
}

h3.characterHouse {
  text-transform: uppercase;
  padding-left: 18px;
  color: #759AAC;
  font-size: 18px;
  display: inline-block;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  margin-bottom: -20px;
}
h3.characterHouse--red {
  color: #9E3811;
}
h3.characterHouse--grey {
  color: #B5B5B5;
}

.bottom {
  position: fixed;
  bottom: 20px;
  left: 0px;
  right: 0px;
  padding: 10px 10px 15px;
  background-color: #000000;
  width: 100%;
  height: auto !important;
}
.close {
  color: #8FA3AD !important;
  opacity: 1;
  text-shadow: none;
  font-size: 20px;
  padding-right: 10px;
  padding-top: 20px;
}

/* Style the buttons that are used to open and close the accordion panel */
.player__image {
  width: 60px;
  border-radius: 50px;
  padding-left: -20px;
}
@media screen and (max-width: 360px) {
  .player__image {
    width: 50px;
    margin-bottom: -75px;
  }
}
.player__image--token {
  width: 80px;
}
.player__character {
  font-family: "kepler-std", serif;
  margin-bottom: -10px;
  margin-left: 20px;
  display: block;
}
@media screen and (max-width: 360px) {
  .player__character {
    margin-left: 35px;
  }
}
.player__character--wildlings {
  color: #8FA3AD;
  padding-left: 20px;
}
.player__name {
  font-family: "roboto-condensed", sans-serif;
  letter-spacing: 0.5px;
  padding-left: 40px;
  font-size: 18px;
  margin-top: 10px;
  color: white;
  display: block;
}
@media screen and (max-width: 360px) {
  .player__name {
    padding-left: 55px;
  }
}

.border {
  border-bottom: 4px solid #47636F;
  margin-top: 20px;
  margin-bottom: 20px;
}
.border--bottom {
  margin-bottom: 140px;
}

.warning {
  display: block;
  color: #FF8008;
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .warning {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.warning__arrow {
  font-size: 60px;
}
@media screen and (max-width: 768px) {
  .warning__arrow {
    font-size: 30px;
  }
}
.warning--margin {
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .warning--margin {
    margin-bottom: 15px;
  }
}

.validation {
  font-size: 28px;
}

.game {
  background-image: url("../images/game-of-trones-game.jpg");
  background-position: bottom center;
  width: 2000px;
}

.houseIcon {
  opacity: 0.8;
  position: absolute;
  width: 280px;
}
.houseIcon--stark {
  left: 800px;
  top: 1030px;
}
.houseIcon--wildlings {
  top: 30px;
  left: 1000px;
  width: 200px;
}
.houseIcon--lannister {
  top: 2160px;
  width: 200px;
  left: 540px;
}
.houseIcon--targaryon {
  top: 2420px;
  width: 200px;
  left: 1200px;
}
.houseIcon--houseOne {
  top: 3350px;
  width: 200px;
  left: 920px;
}
.houseIcon--houseTwo {
  top: 3000px;
  width: 200px;
  left: 800px;
}
.houseIcon--houseTree {
  top: 2820px;
  width: 200px;
  left: 1350px;
}
.houseIcon--houseFour {
  top: 2280px;
  width: 150px;
  left: 920px;
}
.houseIcon--houseFive {
  top: 1720px;
  width: 230px;
  left: 1100px;
}
.houseIcon--houseSix {
  top: 1780px;
  width: 200px;
  left: 300px;
}

.bottom {
  position: fixed;
  bottom: 0px;
  padding: 10px;
  padding-bottom: 20px;
  background-color: #000000;
  width: 100%;
  height: 120px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

#playerOne {
  position: absolute;
  top: 3620px;
  left: 960px;
  transition: all 3s;
  border: 2px solid white;
}

#playerTwo {
  position: absolute;
  top: 3620px;
  left: 1020px;
  transition: all 3s;
  border: 2px solid white;
}

#playerOne[data-number="1"] {
  position: absolute;
  top: 3440px;
  left: 825px;
  transition: all 3s;
  border: 2px solid white;
}

#playerTwo[data-number="1"] {
  position: absolute;
  top: 3440px;
  left: 850px;
  transition: all 3s;
  border: 2px solid white;
}

#playerOne[data-number="2"] {
  position: absolute;
  top: 3270px;
  left: 745px;
  transition: all 3s;
  border: 2px solid white;
}

#playerTwo[data-number="2"] {
  position: absolute;
  top: 3270px;
  left: 770px;
  transition: all 3s;
  border: 2px solid white;
}

#playerOne[data-number="3"] {
  position: absolute;
  top: 3160px;
  left: 965px;
  transition: all 3s;
  border: 2px solid white;
}

#playerTwo[data-number="3"] {
  position: absolute;
  top: 3160px;
  left: 990px;
  transition: all 3s;
  border: 2px solid white;
}

#playerOne[data-number="4"] {
  position: absolute;
  top: 3020px;
  left: 1165px;
  transition: all 3s;
  border: 2px solid white;
}

#playerTwo[data-number="4"] {
  position: absolute;
  top: 3020px;
  left: 1190px;
  transition: all 3s;
  border: 2px solid white;
}

#playerOne[data-number="5"] {
  position: absolute;
  top: 2870px;
  left: 1265px;
  transition: all 3s;
  border: 2px solid white;
}

#playerTwo[data-number="5"] {
  position: absolute;
  top: 2870px;
  left: 1290px;
  transition: all 3s;
  border: 2px solid white;
}

#playerOne[data-number="6"] {
  position: absolute;
  top: 2670px;
  left: 1315px;
  transition: all 3s;
  border: 2px solid white;
}

#playerTwo[data-number="6"] {
  position: absolute;
  top: 2670px;
  left: 1340px;
  transition: all 3s;
  border: 2px solid white;
}

#playerOne[data-number="7"] {
  position: absolute;
  top: 2470px;
  left: 1015px;
  transition: all 3s;
  border: 2px solid white;
}

#playerTwo[data-number="7"] {
  position: absolute;
  top: 2470px;
  left: 1040px;
  transition: all 3s;
  border: 2px solid white;
}

#playerOne[data-number="8"] {
  position: absolute;
  top: 2840px;
  left: 985px;
  transition: all 3s;
  border: 2px solid white;
}

#playerTwo[data-number="8"] {
  position: absolute;
  top: 2840px;
  left: 1010px;
  transition: all 3s;
  border: 2px solid white;
}

#playerOne[data-number="9"] {
  position: absolute;
  top: 2850px;
  left: 905px;
  transition: all 3s;
  border: 2px solid white;
}

#playerTwo[data-number="9"] {
  position: absolute;
  top: 2850px;
  left: 930px;
  transition: all 3s;
  border: 2px solid white;
}

#playerOne[data-number="10"] {
  position: absolute;
  top: 2650px;
  left: 785px;
  transition: all 3s;
  border: 2px solid white;
}

#playerTwo[data-number="10"] {
  position: absolute;
  top: 2650px;
  left: 810px;
  transition: all 3s;
  border: 2px solid white;
}

#playerOne[data-number="11"] {
  position: absolute;
  top: 2670px;
  left: 485px;
  transition: all 3s;
  border: 2px solid white;
}

#playerTwo[data-number="11"] {
  position: absolute;
  top: 2670px;
  left: 510px;
  transition: all 3s;
  border: 2px solid white;
}

#playerOne[data-number="12"] {
  position: absolute;
  top: 2470px;
  left: 465px;
  transition: all 3s;
  border: 2px solid white;
}

#playerTwo[data-number="12"] {
  position: absolute;
  top: 2470px;
  left: 490px;
  transition: all 3s;
  border: 2px solid white;
}

#playerOne[data-number="13"] {
  position: absolute;
  top: 2370px;
  left: 545px;
  transition: all 3s;
  border: 2px solid white;
}

#playerTwo[data-number="13"] {
  position: absolute;
  top: 2370px;
  left: 570px;
  transition: all 3s;
  border: 2px solid white;
}

#playerOne[data-number="14"] {
  position: absolute;
  top: 2320px;
  left: 715px;
  transition: all 3s;
  border: 2px solid white;
}

#playerTwo[data-number="14"] {
  position: absolute;
  top: 2320px;
  left: 740px;
  transition: all 3s;
  border: 2px solid white;
}

#playerOne[data-number="15"] {
  position: absolute;
  top: 2270px;
  left: 855px;
  transition: all 3s;
  border: 2px solid white;
}

#playerTwo[data-number="15"] {
  position: absolute;
  top: 2270px;
  left: 880px;
  transition: all 3s;
  border: 2px solid white;
}

#playerOne[data-number="16"] {
  position: absolute;
  top: 2170px;
  left: 1055px;
  transition: all 3s;
  border: 2px solid white;
}

#playerTwo[data-number="16"] {
  position: absolute;
  top: 2170px;
  left: 1080px;
  transition: all 3s;
  border: 2px solid white;
}

#playerOne[data-number="17"] {
  position: absolute;
  top: 1970px;
  left: 1155px;
  transition: all 3s;
  border: 2px solid white;
}

#playerTwo[data-number="17"] {
  position: absolute;
  top: 1970px;
  left: 1180px;
  transition: all 3s;
  border: 2px solid white;
}

#playerOne[data-number="18"] {
  position: absolute;
  top: 1750px;
  left: 855px;
  transition: all 3s;
  border: 2px solid white;
}

#playerTwo[data-number="18"] {
  position: absolute;
  top: 1750px;
  left: 880px;
  transition: all 3s;
  border: 2px solid white;
}

#playerOne[data-number="19"] {
  position: absolute;
  top: 1550px;
  left: 815px;
  transition: all 3s;
  border: 2px solid white;
}

#playerTwo[data-number="19"] {
  position: absolute;
  top: 1550px;
  left: 840px;
  transition: all 3s;
  border: 2px solid white;
}

#playerOne[data-number="20"] {
  position: absolute;
  top: 1350px;
  left: 915px;
  transition: all 3s;
  border: 2px solid white;
}

#playerTwo[data-number="20"] {
  position: absolute;
  top: 1350px;
  left: 940px;
  transition: all 3s;
  border: 2px solid white;
}

#playerOne[data-number="21"] {
  position: absolute;
  top: 1270px;
  left: 735px;
  transition: all 3s;
  border: 2px solid white;
}

#playerTwo[data-number="21"] {
  position: absolute;
  top: 1270px;
  left: 760px;
  transition: all 3s;
  border: 2px solid white;
}

#playerOne[data-number="22"] {
  position: absolute;
  top: 1220px;
  left: 585px;
  transition: all 3s;
  border: 2px solid white;
}

#playerTwo[data-number="22"] {
  position: absolute;
  top: 1250px;
  left: 610px;
  transition: all 3s;
  border: 2px solid white;
}

#playerOne[data-number="23"] {
  position: absolute;
  top: 1030px;
  left: 615px;
  transition: all 3s;
  border: 2px solid white;
}

#playerTwo[data-number="23"] {
  position: absolute;
  top: 1030px;
  left: 640px;
  transition: all 3s;
  border: 2px solid white;
}

#playerOne[data-number="24"] {
  position: absolute;
  top: 920px;
  left: 955px;
  transition: all 3s;
  border: 2px solid white;
}

#playerTwo[data-number="24"] {
  position: absolute;
  top: 920px;
  left: 980px;
  transition: all 3s;
  border: 2px solid white;
}

#playerOne[data-number="25"] {
  position: absolute;
  top: 760px;
  left: 995px;
  transition: all 3s;
  border: 2px solid white;
}

#playerTwo[data-number="25"] {
  position: absolute;
  top: 760px;
  left: 1020px;
  transition: all 3s;
  border: 2px solid white;
}

#playerOne[data-number="26"] {
  position: absolute;
  top: 600px;
  left: 1015px;
  transition: all 3s;
  border: 2px solid white;
}

#playerTwo[data-number="26"] {
  position: absolute;
  top: 600px;
  left: 1040px;
  transition: all 3s;
  border: 2px solid white;
}

#playerOne[data-number="27"] {
  position: absolute;
  top: 400px;
  left: 1165px;
  transition: all 3s;
  border: 2px solid white;
}

#playerTwo[data-number="27"] {
  position: absolute;
  top: 400px;
  left: 1190px;
  transition: all 3s;
  border: 2px solid white;
}

#playerOne[data-number="28"] {
  position: absolute;
  top: 270px;
  left: 1075px;
  transition: all 3s;
  border: 2px solid white;
}

#playerTwo[data-number="28"] {
  position: absolute;
  top: 270px;
  left: 1100px;
  transition: all 3s;
  border: 2px solid white;
}

#playerOne[data-number="29"] {
  position: absolute;
  top: 200px;
  left: 945px;
  transition: all 3s;
  border: 2px solid white;
}

#playerTwo[data-number="29"] {
  position: absolute;
  top: 200px;
  left: 970px;
  transition: all 3s;
  border: 2px solid white;
}

#playerOne[data-number="30"] {
  position: absolute;
  top: 120px;
  left: 835px;
  transition: all 3s;
  border: 2px solid white;
}

#playerTwo[data-number="30"] {
  position: absolute;
  top: 120px;
  left: 860px;
  transition: all 3s;
  border: 2px solid white;
}

.tile {
  position: absolute;
  width: 40px;
  height: 40px;
  visibility: hidden;
}

[data-tilenumber="1"] {
  top: 3450px;
  left: 855px;
}

[data-tilenumber="2"] {
  top: 3280px;
  left: 775px;
}

[data-tilenumber="3"] {
  top: 3170px;
  left: 995px;
}

[data-tilenumber="4"] {
  top: 3030px;
  left: 1195px;
}

[data-tilenumber="5"] {
  top: 2880px;
  left: 1295px;
}

[data-tilenumber="6"] {
  top: 2680px;
  left: 1345px;
}

[data-tilenumber="7"] {
  top: 2480px;
  left: 1045px;
}

[data-tilenumber="8"] {
  top: 2850px;
  left: 1015px;
}

[data-tilenumber="9"] {
  top: 2860px;
  left: 935px;
}

[data-tilenumber="10"] {
  top: 2660px;
  left: 815px;
}

[data-tilenumber="11"] {
  top: 2680px;
  left: 515px;
}

[data-tilenumber="12"] {
  top: 2480px;
  left: 495px;
}

[data-tilenumber="13"] {
  top: 2380px;
  left: 575px;
}

[data-tilenumber="14"] {
  top: 2330px;
  left: 745px;
}

[data-tilenumber="15"] {
  top: 2280px;
  left: 885px;
}

[data-tilenumber="16"] {
  top: 2180px;
  left: 1085px;
}

[data-tilenumber="17"] {
  top: 1980px;
  left: 1185px;
}

[data-tilenumber="18"] {
  top: 1760px;
  left: 885px;
}

[data-tilenumber="19"] {
  top: 1560px;
  left: 845px;
}

[data-tilenumber="20"] {
  top: 1360px;
  left: 945px;
}

[data-tilenumber="21"] {
  top: 1280px;
  left: 765px;
}

[data-tilenumber="22"] {
  top: 1230px;
  left: 615px;
}

[data-tilenumber="23"] {
  top: 1030px;
  left: 645px;
}

[data-tilenumber="24"] {
  top: 930px;
  left: 985px;
}

[data-tilenumber="25"] {
  top: 770px;
  left: 1025px;
}

[data-tilenumber="26"] {
  top: 620px;
  left: 1045px;
}

[data-tilenumber="27"] {
  top: 410px;
  left: 1195px;
}

[data-tilenumber="28"] {
  top: 280px;
  left: 1105px;
}

[data-tilenumber="29"] {
  top: 210px;
  left: 975px;
}

[data-tilenumber="30"] {
  top: 130px;
  left: 865px;
}

/*# sourceMappingURL=styles.css.map */
